
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
</head>
<body>
  <div class="ui main text container">
     	    <div class="ui huge header"></div>
           <div class="ui huge header"></div>
           <div class="ui huge header" style="text-align: center;">Sign Up</div>
          <div class="ui top attached segment">
  	        <div class="item">
              <form class="ui form" action="/register" method="POST">
                <div class="two fields">
                  <div class="field">
                  <input type="text" name="username" placeholder="username" autocomplete="off" required>
                </div>
                <div class="field">
                    <input type="email" name="email" placeholder="mail@mail.com" autocomplete="off" required>
                  </div>
                <div class="field">
                  <input type="password" name="password" placeholder="password">
                  </div>
                </div>
                  <button>Register</button>
              </form>
                <div class="content">
  	                <div class="meta">
                      <span>Already a User?..</span>
      	                <span>
<a href="/login">Click here to LogIn</a>
                        </span>
  	                </div>
              	     <div class="description">

              	     </div>

              </div>


          </div>

      </div>
</body>
