body{
  margin: 0;
  padding: 0;
}

/*Styling for video*/
video{
  height: 300px;
  width: 400px;
  object-fit: cover;
  padding: 8px;
}


/*Styling for the general layout of the page*/
#video-grid{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.main{
  height: 100vh;
  display: flex;
}

.main__left{
  flex: 0.8;
  display: flex;
  flex-direction: column;
}

.main__right{
  flex:0.2;
}

.main__videos{
  flex-grow: 1;
  background-color: #202124;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__controls{
  display: flex;
  background-color: #202124;
  color: aliceblue;
  padding: 5px;
  justify-content: space-between;
}

.main__controls__block{
  display: flex;
}
.main__controls__button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  min-width: 80px;
  cursor: pointer;
}

.main__controls__buttons i{
  font-size: 24px;
}

.main__controls__button:hover{
  background-color: #343434;
  border-radius: 5px;
}

.leave_meeting{
  color:#EB534B;
}

.main__right{
  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-left: 1px solid #3D3D42;
}

.main__header{
  color: white;
  text-align: center;
}

.main__chat__window{
flex-grow: 1;
overflow-y: scroll;  /*So that messages scroll and do not move out of container*/
}

.main__message__container{
  padding: 22px 12px;
  display: flex;
}

.main__message__container input{
  flex-grow: 1;
  background-color: transparent;
  border: none;
  color: white;
}

.messages{
  color: white;
  list-style: none;
}



/*Styling for the buttons depending on their function and instance*/
.unmute{
  color: red;
}
.stop{
  color: red;
}
.leave{
  color: red;
}



/*Styling for the whiteboard and its controls*/
.whiteboard__controls{
  flex-direction: column;
  display: flex;
  cursor: pointer;
}
.drawarea{
  flex-direction: row;
}
.wb__up{
  display: flex;
}
.whiteboard{
  height: auto;
  display: flex;
  justify-content : center;
  display: none;
  border: 3px solid #f1f1f1;
}
.whiteboard__colors{
  flex-direction: column;
  display: flex;
  cursor: pointer;
  background-color: white;
}
.colors{
  display: flex;

  justify-content: space-between;
}
.wb__color{
  flex-direction: column;
  width:20px;
  height:10px;
}